<div class="row" style="margin-top:40px; background-color:#eff0f2;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  <!-- <div class="col-sm-12" style="text-align:center;">
    Register
  </div> -->
  <nav>
    <a routerLinkActive="active" routerLink="/product-list">View Listings</a>
    <a routerLinkActive="active" routerLink="/create-product">Add Listing</a>
  </nav>
  <router-outlet></router-outlet>

  <div class="col-sm-12">
      <div class="jumbotron">
          <h1 class="display-4">Admin Page</h1>
          <hr class="my-4">
          <p class="lead" style="color:white;">
            <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Log Out</a>
          </p>
        </div>
  </div>
</div>
